.card {
  background: rgba(0, 0, 0, 0.816);
  color: white;
  padding: 2em;
  border-radius: 30px;
  margin: 1em;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.4em 0;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: 100%;
  text-align: center;
}

#error-message {
  color: rgb(175, 44, 44);
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.weather.loading {
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  content: "Loading...";
  color: white;
}

.forecast {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast div {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.forecast div p {
  font-size: 0.7rem;
  align-content: center;
  text-align: center;
}

.more-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 400px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background: #222;
    font-size: 120%;
  }

  .card {
    width: 480px;
  }

  .main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .forecast {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .forecast div {
    flex-direction: column;
    justify-content: space-around;
  }

  .more-details {
    padding: 0 1.5rem;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    font-size: 0.5 rem;
  }
}
